// MEDIA QUERY CONFIG

$tablet-width: 768px;
$desktop-width: 1076px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//Color Variables

$main-black-color: #3e3f43;
$main-yellow-color: #daa520;
$main-pink-color: #f9bdbd;
$second-yellow-color: #f7dea6;
$main-blue-color: #a8dcec;

// ========================
//    IN GENERAL CONFIG
// ========================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 35px auto auto auto;
}

.hidden {
  display: none;
}

// ========================
//    Button CONFIG
// ========================

.button {
  background-color: transparent;
  border: none;

  border-radius: 4px;
  font-family: "Nunito", sans-serif;

  &__main {
    width: 180px;
    height: 40px;
    color: white;
    background-color: $main-yellow-color;
    font-weight: bold;
  }

  &__main:hover {
    background-color: darken($main-yellow-color, 10%);
  }

  &__secondary {
    width: 120px;
    height: 40px;
    border: 1px solid $main-black-color;
    margin: 0 10px;
    color: $main-black-color;
  }

  &__secondary:hover {
    background-color: $main-yellow-color;
    border: none;
    color: white;
    cursor: pointer;
  }

  @include tablet {
    &__main {
      height: 50px;
      font-size: 1rem;
    }
  }

  @include desktop {
    &__main {
      height: 50px;
      font-size: 1rem;
    }
  }
}

// ========================
//       TITLE CONFIG
// ========================

.title {
  display: flex;
  flex-direction: column;

  &__logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 5px;
  }

  &__logoimg {
    width: 15px;
  }

  & h3 {
    flex: 1;
    justify-self: left;
    text-transform: uppercase;
    padding-left: 5px;
  }
  & hr {
    width: 100%;
  }
  & h2 {
    margin-left: auto;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 0.1);
  }

  @include tablet {
    & {
      margin-top: 100px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    & hr {
      flex: 0.5;
      margin-left: 10px;
    }
    &__logoimg {
      width: 30px;
    }
    & h3 {
      font-size: 1.5rem;
    }

    & h2 {
      font-size: 3rem;

      display: contents;
    }
  }

  @include desktop {
    & {
      margin-top: 150px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    & hr {
      flex: 0.5;
      margin-left: 10px;
    }
    &__logoimg {
      width: 30px;
    }
    & h3 {
      font-size: 2.25rem;
    }

    & h2 {
      font-size: 4.5rem;
      text-align: left;
      display: contents;
    }
  }
}

// ========================
//       HEADER CONFIG
// ========================
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  //******  LOGO CONFIG   ******

  &__logo {
    display: flex;
    margin: auto 0;
    padding: 10px;
  }

  &__title {
    margin: 0 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $main-black-color;
  }

  //******  NAV CONFIG   ******

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
  }

  &__item {
    padding: 5px 0;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 10px;
    color: $main-black-color;
  }
  &__link:hover {
    color: $main-yellow-color;
    font-weight: bold;
  }

  @include tablet {
    &__link {
      font-size: 0.8rem;
    }
  }

  @include desktop {
    & {
      flex-direction: row;
    }
    &__logo {
      flex: 2;
      margin-left: 10px;
      padding: 10px 0;
    }

    &__link {
      font-size: 1rem;
    }

    &__links {
      flex: 1;
    }
    .hidden {
      display: inline;
    }
  }
}

// ========================
//       HERO CONFIG
// ========================

.hero {
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__section1 {
    text-align: center;
  }
  &__section1 h3 {
    font-weight: 400;
    color: #313235;
  }
  &__section1 h2 {
    padding: 20px 0;
    color: #313235;
    font-weight: 700;
  }

  &__section2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__furnitureImg {
    width: 100%;
  }

  &__bg {
    position: absolute;
    background: $main-pink-color;
    height: 100vh;
    width: 43vw;
    right: 0;
    top: 0;
    z-index: -2;
    border-radius: 0px 0px 0px 110px;
  }

  &__bg__img {
    display: none;
  }

  @include tablet {
    &__section1 h3 {
      font-size: 2rem;
    }
    &__section1 h2 {
      font-size: 3rem;
    }
  }

  @include desktop {
    &__section {
      flex-direction: row;
      align-items: center;
      margin-top: 15vh;
    }

    &__section1 {
      text-align: left;
      width: 50%;
      margin-right: auto;
    }
    &__section1 h3 {
      font-size: 2.25rem;
    }
    &__section1 h2 {
      font-size: 4.75rem;
    }

    &__section2 {
      margin-left: auto;
    }

    &__bg {
      width: 400px;
    }

    &__bg__img {
      position: absolute;
      display: inline-block;
      right: 275px;
      z-index: -1;
      bottom: 10px;
    }
  }
}

// ========================
//       ABOUT US CONFIG
// ========================

.aboutUs {
  position: relative;

  &__content {
    margin: 50px 0;
  }

  &__content1 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__imgbox {
    position: relative;
    background: $second-yellow-color;
    height: 155px;
    width: 100px;

    border-radius: 0px 40% 0px 40%;
  }
  .img__kalmar {
    position: absolute;
    width: 129px;
    height: 100px;
    bottom: 0;
    right: -30px;
  }

  &__textbox {
    flex: 1;
    margin-left: 30px;
    text-align: end;
  }

  & span {
    font-weight: 600;
  }

  & h4 {
    font-size: 1rem;
    font-weight: 800;
  }
  & p {
    margin-top: 10px;
    font-size: 0.8rem;
  }

  &__content2 {
    display: flex;
    align-items: center;
  }
  &__textbox2 {
    width: 60%;
    display: inline-block;
  }

  &__imgSpoon {
    position: absolute;
    right: 0;
    width: 113px;
  }

  @include tablet {
    & h4 {
      font-size: 1.5rem;
    }
    & p {
      font-size: 1rem;
    }

    &__imgbox {
      height: 300px;
      width: 200px;
    }

    .img__kalmar {
      width: 200px;
      height: 155px;
      right: -20%;
    }

    &__textbox {
      margin-left: 10%;
      text-align: end;
    }

    &__imgSpoon {
      width: 200px;
    }
  }

  @include desktop {
    & h4 {
      font-size: 2.25rem;
    }
    & p {
      font-size: 1.5rem;
    }

    &__imgbox {
      height: 388px;
      width: 278px;
    }

    .img__kalmar {
      width: 388px;
      height: 306px;
      right: -50%;
    }

    &__textbox {
      margin-left: 20%;
      text-align: end;
    }

    &__imgSpoon {
      width: 287px;
      height: 384px;
    }
  }
}

// ========================
//       HOW WORKS CONFIG
// ========================

.howWorks {
  margin: 20vh 0;

  &__elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 50px 0;
  }

  &__content {
    position: relative;
    padding: 30px 40px;
  }

  &__content-number {
    font-size: 96px;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgba(249, 189, 189, 0.25);
  }
}

.center {
  display: block;
  margin: auto;
}

// ========================
//       CATEGORIES CONFIG
// ========================

.categories {
  &__elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 50px 0;
  }

  &__content {
    margin: 5px;
  }

  &__title {
    margin-top: 5px;
    margin-left: 5px;
    color: $main-black-color;
  }
  &__img {
    position: absolute;

    max-height: 50%;
    max-width: 80%;

    margin: auto;

    bottom: 20%;
  }

  &__button {
    position: absolute;
    width: 70px;
    height: 20px;
    bottom: 10px;
    right: 0;
  }
}

.categories__center {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.shape {
  // TA ERRADO

  position: relative;
  background: $second-yellow-color;

  height: 180px;
  width: 125px;

  border-radius: 0px 40% 0px 40%;
}

.bg-pink {
  background-color: $main-pink-color;
}

.bg-blue {
  background-color: $main-blue-color;
}

@include tablet {
  .categories {
    &__elements {
      justify-content: flex-start;
    }

    &__content {
      margin: 20px;
    }

    &__button {
      width: 103px;
      height: 30px;
      font-size: 1.1rem;
    }

    &__title {
      font-size: 1.2rem;
    }
  }
  .shape {
    height: 300px;
    width: 180px;
  }
}

@include desktop {
  .categories {
    &__elements {
      justify-content: flex-start;
    }

    &__content {
      margin: 20px;
    }

    &__button {
      width: 123px;
      height: 40px;
      font-size: 1.1rem;
    }

    &__title {
      font-size: 1.6rem;
    }
  }
  .shape {
    height: 400px;
    width: 280px;
  }
}

// ========================
//       FOOTER CONFIG
// ========================

.footer {
  background-image: linear-gradient(to top, #efefef, #fdfdfd);

  &__subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
    text-align: center;
  }

  hr {
    width: 61%;
    margin: 50px auto;
    color: #c4c4c4;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px solid #c4c4c4;
    padding-top: 30px;
  }

  .nav__item {
    padding: 10px 10px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;

    text-align: center;
  }
  &__logo--session {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }

  &__title {
    text-transform: uppercase;
    color: $main-black-color;
    padding-bottom: 5px;
    font-size: 1.12rem;
  }

  &__title--logo {
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $main-black-color;
  }

  .copyright {
    margin-top: 10px;
    text-align: center;
    color: #8d8d8d;
    font-size: 0.75rem;
  }
  .more-info {
    text-decoration: none;
    display: block;
    color: #8d8d8d;
    font-size: 0.9rem;
    padding-bottom: 10px;
  }

  .more-info:hover {
    color: $main-yellow-color;
    font-weight: 700;
  }
}

.subscribe {
  &__content {
    margin-bottom: 30px;

    & h5 {
      font-size: 1.1rem;
    }
    & p {
      font-size: 1rem;
    }
  }
  &__form {
    width: 38vw;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 40px;
    margin-top: 10px;
  }
  &__input {
    height: 100%;
    width: 73%;

    border: 2px solid $main-yellow-color;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding: 0 10px;
  }

  &__submit {
    height: 100%;
    width: 20%;
    min-width: 70px;
    background-color: $main-yellow-color;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-weight: 600;
  }

  &__submit:hover {
    background-color: darken($main-yellow-color, 10%);
  }
}

@include desktop {
  .subscribe {
    &__content {
      margin-bottom: 0px;
      text-align: left;
    }
  }
}
